@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,600&family=Open+Sans:ital,wght@0,400;0,500;1,400;1,500&display=swap');
html:focus-within {
    scroll-behavior: smooth;
  }
h1 {
    color:rgba(255,255,255,.85);
    font-family: "Bodoni Moda";
    font-size: 15cqi;
    font-style:italic;
    text-align: center;
    margin-bottom: 25%;
}
h2 {
    text-align: center;
    font-family: "Bodoni Moda";
    color: rgb(32, 30, 30);
    font-size: 5cqi;
    margin-bottom: 0;
}
h3 {
  text-align: center;
  font-family: "Open Sans";
  color: #71BBFF;
  font-size: 2cqi;
}
p {
    margin: 0 5% 5% 5%;
    font-size: 1.5cqi;
    font-family: "Open Sans";
    color: #71BBFF;
    
}
#primary-img {
  margin-right:5%
}
img {
    height:45vw;
    width:45vw;
    flex: 2 1 auto;
    margin:10px;
}

  .flex-box{
    display:flex;
    align-items:center;
    justify-content: center;
    min-height: 100vh;
    
  }
  .wrapper{
    margin:5%;
    margin-top:0;
    position:relative;
  }
  .wrapper i{
    top:50%;
    color:white;
    background:#71BBFF;
    height: 66px;
    width: 66px;
    cursor:pointer;
    position:absolute;
    font-size:1.5rem;
    text-align: center;
    line-height: 66px;
    border-radius: 50%;
    transform:translateY(-50%);
  }
  .wrapper i:first-child{
    display:none;
    left: -33px;
  }
  .wrapper i:last-child{
    right: -33px;
  }
  
  .wrapper .carousel {
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior:smooth;

  }
  .carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
  }
  .carousel.dragging img{
    pointer-events: none;
  }
  .carousel img{
    height:640px;
    width:640px;
    object-fit: cover;
    margin-left:14px;
    

  }
  .carousel img:first-child{
    margin-left:0px;

  }