
 @import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;600;800&display=swap');

  body{
    background-color: #71250E;
  }
  p {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    padding: 10px;
  }
  h1 {
    background-color: #CC5221;
    color: black;
    font-family: 'Inknut Antiqua', serif;
    font-weight: 800;
    text-align: center;

    

  }
  h2,h3 {
    font-family: 'Inknut Antiqua', serif;
    padding-left: 10px;


  }
  hr {
    margin-left:33vw;
    margin-right: 33vw;
    height: 2px;
    border: none;
    background-color: #71250E;

  }
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;

}
.flex-item {
    flex: 2 1 auto;
    padding-left:5px;
    padding-right:5px;
    background-color: #CC5221;
    
}

.list-container {
  display: flex;

}
.list {
  flex: 2 1 auto;
  margin-right: 10px;
}
@media screen and (max-width: 600px)
{
  .list-container {
    display: grid;
  }
}