@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;600;800&display=swap');
h1 {
  font-family: 'Inknut Antiqua', serif;
  font-weight: 800;
  text-align: center;
}

body {
  background-color: #BEB3A0;
  width: 640px;
  margin: 0 auto;
}

.full-img {
  position: relative;
  display: block;
  width: 640px;
  height: 640px;
}
img {
  width:640px;
  height:640px;
  
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
  height: 640px;
  background-color: rgba(0,0,0,0);
}

button {
  border: 0;
  background: rgba(109, 70, 70, 0.6);
  text-shadow: 1px 1px 1px white;
  border: 1px solid #999;
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 2px;
}

.thumb-bar img {
  display: block;
  width: 20%;
  height: 20%;
  float: left;
  cursor: pointer;
  
}