body{
    background-color: khaki;
}
#box1{
    width: 25vw;
    height: 20vh;
    background-color: indianred;
    transition-delay: .2s;

}

#box1:hover{
    background-color:purple;
}
#box2{
    width: 25vw;
    height:20vh;
    position: relative;
    background-color: orangered;
    animation: 3s alternate .25s box2move;
    animation-iteration-count: infinite;
}

@keyframes box2move{
    from{
        margin-top: 50%;
        width: 0%;
        background-color: rgba(0,0,0,0);
    }
    to{
        margin-top: 0%;
        width: 100%; 
        
    }
}